body {
  font-family: Arial, sans-serif;
  background-color: #fda708;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  position: absolute;
  top: 15px;
  background: #ffffff93;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 10px;
}

h1 {
  text-align: center;
  color: #333;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#add-task-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#add-task-btn:hover {
  background-color: #218838;
}

#task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task span {
  word-break: break-word;
}

.task button {
  border: none;
  background: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task button:hover {
  background: #c82333;
}

img {
  width: 25px;
  height: 25px;
}
